<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SistemaUrpParkomBespilotnikov/lib/jade.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-gui ControlSystemParkBesp:ParkBespAgents.CSParkBespAgent;ParkBesp:ParkBespAgents.ParkBespilot;ParkTehniki:ParkBespAgents.ParkTehnikiAgent;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SistemaUrpParkomBespilotnikov"/>
</launchConfiguration>
