<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HApp/lib/jade.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-gui&#13;&#10;conditioner:agents.ConditionerAgent;cooker:agents.CookerAgent;energy_station_conditioner:agents.SubscriberAgent(0,0);granny_look_conditioner:agents.SubscriberAgent(0,1);energy_station_cooker:agents.SubscriberAgent(1,0);granny_look_cooker:agents.SubscriberAgent(1,1);granny_control_conditioner:agents.ControlAgent(conditioner);;granny_control_cooker:agents.ControlAgent(cooker)"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HApp"/>
</launchConfiguration>
