<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ElectroVehicle/lib/jade.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-gui&#13;&#10;car:agents.MobileAgent;driver:agents.DriverAgent(MobileAgent);charger:agents.ChargerAgent;helli:agents.HellicopterAgent;pilot:agents.DriverAgent(HellicopterAgent);trolleybus:agents.TrolleybusAgent;troll:agents.DriverAgent(TrolleybusAgent);"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ElectroVehicle"/>
</launchConfiguration>
